<div class="marged">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
          <div class="big-card-create-dream">
            <h1>Worker information:</h1>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
